<p id="notice"><%= notice %></p>
<div class="row">
<h1>Vacations Applications</h1>
  <div class="pull-right range-query">
    <%= form_tag vacations_path, method: :get do %>
      <%= text_field_tag 'search[date_from]', @search.date_from %>
      <%= text_field_tag 'search[date_to]', @search.date_to %>

      <%= submit_tag 'Search', class: 'btn search-button' %>
    <% end %>
  </div>
</div>






<div class="media">
  <div class="media-body">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Days</th>
            <th>Name</th>
            <th>Dept</th>
            <th>Status</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @vacations.each do |vacation| %>
            <tr>
              <td><%= vacation.date.strftime("%d/%m/%Y") %></td>
              <td><%= vacation.days %></td>
              <td><%= vacation.employee.name %></td>
              <td><%= vacation.dept %></td>
              <td><%= vacation.status_type %></td>
              <td><%= link_to 'Show', vacation, class: "btn btn-mini btn-info" %></td>
              <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_vacation_path(vacation), class: "btn btn-mini btn-success" %></td>
          <td><%= link_to 'Destroy', vacation, method: :delete, class: "btn btn-mini btn-danger", data:
          { confirm: 'Are you sure?' } %></td>
          <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
</div>
</div>
<br/>
<h3>Import Vacations</h3>
<%= form_tag import_vacations_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import Vacations" %>
<% end %>
<br>
<h3>Download CSV</h3>

<%= link_to "Download Report", vacations_path(format: "csv"), class: 'btn btn-lg btn-info' %>
<br/>
<br>
<%= link_to 'New Vacation', new_vacation_path, class: "btn btn-mini btn-success"  %>
