<div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
                <p>
                    <%= link_to "Login / Register", user_session_path, class: 'btn btn-sm btn-info' %>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>HR Software</strong>
                    <br>123 Street Road
                    <br>Dublin, Ireland
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(353) 123-4560
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">info@hrsoftware.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->


  <h3>Send A message to Us</h3>
 <div class="form-group">
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <br>
    <%= f.input :name, :required => true %>
    <br>
    <%= f.input :email, :required => true %>
    <br>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  </div>
  <% end %>



