<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favico.ico" type="image/x-icon">
  <title>HR Dept Vacation Planner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container"><!-- Start Nav Containter-->
  <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>
      <li><%= link_to "Vacation", vacations_path %></li>
      <li><%= link_to "Employees", employees_path %></li>
      <li><%= link_to "Contact", contacts_path %></li>
        <% if user_signed_in? %>
      <li><%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-mini btn-danger', :method => :delete%></li>
      <% else %>
       <li><%= link_to "Login / Register", user_session_path %></li>
       <% end %>
  </ul>
  <br/>
  <% if user_signed_in? %>
<div>Signed in as... <%= current_user.email %>
<% if current_user.admin? %>
<h4>Hello, Admin</h4>
<% end %>
<%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-mini btn-danger', :method => :delete%> | <%= link_to 'User Profiles', profiles_path, class: 'btn btn-mini btn-warning' %> 
</div>
<% else %>
<%= link_to 'Register', new_user_registration_path %> or
<%= link_to 'Sign in', new_user_session_path %>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


    <%= render 'partials/jumbotron' %>
    <div class="container">
<%= yield %>
 
</div> <!-- Closes Containter-->
<br/>
<%= render 'partials/footer' %>
</body>
</html>
